.game_block {
  width: 100%;
  height: 100vh;

  .cards_deck {
    display: flex;
    justify-content: center;
    height: 300px;
    margin-top: 10px;
    user-select: none;

    .deck {
      margin-right: 10px;

      div {
        border: 2px dashed #525252;
        width: 200px;
        height: 300px;
        border-radius: 12px;
      }

      img {
        border-radius: 12px;
      }
    }

    .out {
      margin-left: 10px;

      div {
        border: 2px dashed #525252;
        width: 200px;
        height: 300px;
        border-radius: 12px;
      }

      img {
        border-radius: 12px;
      }
    }
  }
}
