.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  position: fixed;
  width: 100%;

  span {
    background: -webkit-linear-gradient(#dc2626, #f59e0b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h1 {
    font-weight: bold;
    cursor: pointer;
    user-select: none;
  }
}
