.card-see-the-future-modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 999;
  padding: 40px 20px 20px;

  .modal-content {
    min-width: 244px;
    background-color: #f6f6e9;
    color: #313131;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 33px;
    border: 2px solid #525252;
  }

  .content_block {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;

    img {
      border-radius: 12px;
    }
    img:nth-of-type(2),
    img:nth-of-type(3) {
      margin-left: 10px;
    }
  }

  .btn_block {
    width: 100%;

    .main_button {
      max-width: 100%;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

@media (max-width: 600px) {
  .card-see-the-future-modal .modal-content {
    width: 100%;
  }
}
